/**
 * Homework Due 5.23.29
 **/

* {
    box-sizing: border-box;
    text-align: center;
    color: #333;
    background: #333;
}

.clearfix::after {
    clear:both;
    content:"";
    display:block;
}

body {
    font-size: 24px;
    line-height: 32px;
    margin: 80px;
    margin-top: 10px;
    }

header {
    padding: 20px;
    margin-bottom: 10px;
    background: #fff;
}

nav {
    padding: 20px;
    margin-bottom: 10px;
    background: #fff;
}

section {
    width: 60%;
    height: 280px;
    color: #394549;
    background: #fff;
    float: left;
    border: 1px black;

}

article {
    background: #394549;
    padding: 20px;
    margin: 20px;
    color: #fff;
}

p {
    margin: 10px, 20px, 20px, 20px;
    background: #fff;
}

aside {
    width: 39%;
    height: 280px;
    color: #333;
    background: #fff;
    padding: 10px;
    float: right;
    border: 1px black;
}

footer {
    padding: 20px;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    background: #fff;
    float: none; 
}
